@import "responsive";

body {
  margin: 0;

  background-color: lightpink;

  @include responsive("tablet") {
    background-color: deeppink;
  }

  @include responsive("laptop") {
    background-color: deepskyblue;
  }

  @include responsive("pc") {
    background-color: lightgreen;
  }
}
