.login {
  display: inline-block;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 9999px;
  padding: 8px 16px;
  font-size: 14px;
}

.ellipsis {
  width: 24px;
  margin-left: 16px;
}

@media (min-width: 1024px) {
  .menu button {
    display: inline-block;
  }

  .login {
    color: #737373;
    font-size: 16px;
    border: 0px;
    padding: 0px;
  }

  .ellipsis {
    display: none;
  }
}
